# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/**/.next/
/**/out/

# production
/**/dist/
/**/build/

# misc
.DS_Store
.env*
*.env

/Dockerfile

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# instrumentation
**/.clinic

# docker volumes
.db/

# parcel cache
.cache/


# Generated artifacts
public/emitter.js
public/emitter.js.map
